/DatabaseCourse/src/main/resources/电话.txt
/DatabaseCourse/src/main/resources/分配方案.xls
/DatabaseCourse/src/main/resources/bike.txt
/DatabaseCourse/src/main/resources/record.txt
/DatabaseCourse/src/main/resources/user.txt
/DatabaseCourse/target/

*.iml
*.idea
target

